<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <link rel="icon" href="/images/assets/baliwasan.png" />
    <title>DIS-Forgot Password</title>


    <link rel="stylesheet" href="/styles/login.css">
</head>
<body>
    <div class="index">
 
        <img src="/images/assets/DepEd.png" alt="">
        
        <div class="logo">
            <img src="/images/assets/baliwasan.png" alt="">
        </div>

        <div class="titletext">
            <h1>Forgot Password!</h1>
        </div>

        <div class="container">
            <div class="inputContainer">
                <label for="forgot-email">Email</label>
                <div class="input">
                    <input id="forgot-email" type="email">
                </div>
            </div>

            <button id="sendEmailBtn">Send Email</button>
            <a href="login">Back to Login</a>
        </div>

        <div class="credits">
            <p>Built and maintained by <a href="#">CRAMATIX</a></p>
        </div>
    </div>

    <script src="/javascript/forgot.js"></script>
</body>
</html>
