<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="/images/assets/baliwasan.png" />
    <title>DIS-Reset Password</title>


    <link rel="stylesheet" href="/styles/login.css" />

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNA8a8zqKxzZP49x0yB9KdvhV8UZ8+9A+Ew5T+r8a7gYjbfmjKzMvZ1Fz2U2g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

   
  </head>
  <body>
    <div class="index">
      <img src="/images/assets/DepEd.png" alt="" />

      <div class="logo">
        <img src="/images/assets/baliwasan.png" alt="" />
      </div>

      <div class="titletext">
       <h1>Reset Password!</h1>
      </div>

      <div class="container">
        <div class="inputContainer">
          <label for="new-password">New Password</label>
          <div class="input">
            <input id="new-password" type="password" required />
            <i id="toggleNewPassword" class="fa-solid fa-eye-slash" style="display: none;"></i>
          </div>
        </div>

        <div class="inputContainer">
          <label for="confirm-password">Confirm Password</label>
          <div class="input">
            <input id="confirm-password" type="password" required />
            <i id="toggleConfirmPassword" class="fa-solid fa-eye-slash" style="display: none;"></i>
          </div>
        </div>

        <button id="reset-btn">Reset Password</button>
        <a href="login">Back to Login</a>
      </div>

      <div class="credits">
        <p>Built and maintained by <a href="#">CRAMATIX</a></p>
      </div>
    </div>

 <script src="/javascript/reset.js"></script>

 <script>
    
 </script>
  </body>
</html>
