<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIS-Office</title>
    <link rel="stylesheet" href="../styles/office.css">
</head>
<body>
    <div class="wrapMain">
        <main-sidebar class="sidebar"></main-sidebar>
        <div class="con">
            <h3>Office</h3>
            
        </div>
         
    </div>
   
    <script src="../javascript/header.js"></script>
    <script src="../javascript/sidebar.js"></script>
    <script src="../javascript/script.js"></script>
</body>
</html>