<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="icon" href="/images/assets/DepEd.png">
    <title>DIS-Fotgot Password</title>


    <link rel="stylesheet" href="/styles/login.css">
</head>
<body>
    <div class="index">
 
        <img src="/images/assets/DepEd.png" alt="">
        
        <div class="logo">
            <img src="/images/assets/DepEd.png" alt="">
        </div>

        <div class="titletext">
            <h1>Please check your email</h1>
        </div>

        <div class="container">
            <p>An email has been sent to 'mfalcasantos23@gmail.com'</p>
            <div class="inputContainer inpAuth">
                <div class="input">
                    <input type="number" inputmode="numeric" pattern="[0-9]*" />
                </div>
                <div class="input">
                    <input type="number" inputmode="numeric" pattern="[0-9]*" />
                </div>
                <div class="input">
                    <input type="number" inputmode="numeric" pattern="[0-9]*" />
                </div>
                <div class="input">
                    <input type="number" inputmode="numeric" pattern="[0-9]*" />
                </div>
                <div class="input">
                    <input type="number" inputmode="numeric" pattern="[0-9]*" />
                </div>
                <div class="input">
                    <input type="number" inputmode="numeric" pattern="[0-9]*" />
                </div>
            </div>

            <button>Expires in: 69</button>
            <a href="login.html">Back to Login</a>
        </div>

        <div class="credits">
            <p>Built and maintained by <a href="#">CRAMATIX</a></p>
        </div>
    </div>

    <script src="/javascript/script.js"></script>
</body>
</html>
