@import url(style.css);
@import url(actionBtnToolTip.css);


.sidebar{
    .part{
        .iconItems{
            background-color: var(--accentColor);
            i{
                color: white;
            }
        }
    }
}


#searchCategory{
    padding: 8px 12px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }



  


  

